<div>
    <h3>{{iter.name}}</h3>
    <h4>State: @Compendium[world.Countries.{{iter.country.journal.id}}]</h4>
    <h4>Province: @Compendium[world.Provinces.{{iter.province.journal.id}}]</h4>
    <h4>Culture: @Compendium[world.Cultures.{{iter.culture.journal.id}}]</h4>
    <h4>Population: {{iter.population}}</h4>
    <h4>Citadel: {{iter.citadel}}</h4>
    <h4>Capital: {{iter.capital}}</h4>
    <h4>Port: {{iter.port}}</h4>
    <h4>Plaza: {{iter.plaza}}</h4>
    <h4>Walls: {{iter.walls}}</h4>
    <h4>Shanty: {{iter.shanty}}</h4>
    <h4>Temple: {{iter.temple}}</h4>
    <h4>Feature: {{iter.feature}}</h4>
    <h4>Map Link: <a href={{iter.burgURL}} target="_blank" rel="noopener">City Map</a></h4>
</div>