<div>
    <h3>{{iter.fullName}}</h3>
    <h4><b>Type: </b>{{iter.type}}</h4>
    <h4><b>Expansionism: </b>{{iter.expansionism}}</h4>
    <h4><b>Color: </b>
        <span style="background-color: {{iter.color}};"> {{iter.color}}</span>
    </h4>
    <h4><b>Culture:</b> @Compendium[world.Cultures.{{iter.culture.journal.id}}]</h4>
    <h4><b>Urban: </b>{{iter.urban}}</h4>
    <h4><b>Rural: </b>{{iter.rural}}</h4>
    <h4><b>Number of Burgs: </b>{{iter.burgs}}</h4>
    <h4><b>Area: </b>{{iter.area}}</h4>
    <h4><b>Form: </b>{{iter.form}}</h4>
    <h4><b>Government: </b>{{iter.formName}}</h4>
    <details>
        <summary>Provinces</summary>
        <ul>
            {{#each iter.selProvinces}}
                <li><span>@Compendium[world.Provinces.{{this.journal.id}}]</span></li>
            {{/each}}
        </ul>
    </details>

    <details>
        <summary>Military Overview</summary>

        <table>
            <tr>
                <th>Military</th>
                <th>
                    <div class="tooltip">
                        <span>⚔️</span>
                        <span class="tooltiptext">Infantry</span>
                    </div>
                </th>
                <th>
                    <div class="tooltip">
                        <span>🏹</span>
                        <span class="tooltiptext">Archers</span>
                    </div>
                </th>
                <th>
                    <div class="tooltip">
                        <span>🐴</span>
                        <span class="tooltiptext">Cavalry</span>
                    </div>
                </th>
                <th>
                    <div class="tooltip">
                        <span>💣</span>
                        <span class="tooltiptext">Artillery</span>
                    </div>
                </th>
                <th>
                    <div class="tooltip">
                        <span>🌊</span>
                        <span class="tooltiptext">Fleet</span>
                    </div>
                </th>

                {{!
                TODO: Figure out if these are EVER actually used, if so we need to support it!
                💪
                <th>🦄</th>
                <th>🦅</th>
                <th>🧙</th>

                <th>Knights</th>
                <th>Flying</th>
                <th>Magic</th> }}

            </tr>
            {{#each iter.military}}
                <tr>
                    <th>{{this.name}}</th>
                    <td>{{this.u.infantry}}</td>
                    <td>{{this.u.archers}}</td>
                    <td>{{this.u.cavalry}}</td>
                    <td>{{this.u.artillery}}</td>
                    <td>{{this.u.fleet}}</td>
                </tr>
            {{/each}}
        </table>
    </details>
        <details>
        <summary>
            Relationships
        </summary>
        <table>
            <tr>
                <th>
                    <div class="tooltip">
                        <span class="tooltiptext">Country</span>
                    </div>
                </th>
                <th>
                    <div class="tooltip">
                        <span class="tooltiptext">Current Feelings</span>
                    </div>
                </th>
            </tr>
            {{#each iter.relationships}}
                <tr>
                    <th>{{this.refCountry}}</th>
                    <td>{{this.Status}}</td>
                </tr>
            {{/each}}
        </table>
    </details>
    <details>
        <summary>
            Campaigns
        </summary>
        <table>
            <tr>
                <th>
                    <div class="tooltip">
                        <span class="tooltiptext">Campaign</span>
                    </div>
                </th>
                <th>
                    <div class="tooltip">
                        <span class="tooltiptext">Start Date</span>
                    </div>
                </th>
                <th>
                    <div class="tooltip">
                        <span class="tooltiptext">End Date</span>
                    </div>
                </th>
            </tr>
            {{#each iter.campaigns}}
                <tr>
                    <th>{{this.name}}</th>
                    <td>{{this.start}}</td>
                    <td>{{this.end}}</td>
                </tr>
            {{/each}}
        </table>
    </details>
    
</div>