<div>
    <h3>{{iter.fullName}}</h3>
    <h4>Type: {{iter.type}}</h4>
    <h4>Expansionism: {{iter.expansionism}}</h4>
    <h4>Color: {{iter.color}}</h4>
    <h4>Culture: @Compendium[world.Cultures.{{iter.culture.journal.id}}]</h4>
    <h4>Urban: {{iter.urban}}</h4>
    <h4>Rural: {{iter.rural}}</h4>
    <h4># of Burgs: {{iter.burgs}}</h4>
    <h4>Area: {{iter.area}}</h4>
    <h4>Form: {{iter.form}}</h4>
    <h4>Government: {{iter.formName}}</h4>
    <details>
        <summary>Provinces</summary>
        {{#each iter.selProvinces}}
            <span>@Compendium[world.Provinces.{{this.journal.id}}]</br></span>
        {{/each}}
    </details>
    <table>
        <tr>
            {{#each extras.countries}}
                <th>{{this.name}}</th>
            {{/each}}
        </tr>
        <tr>
            {{#each iter.diplomacy}}
                <th>{{this}}</th>
            {{/each}}
        </tr>
    </table>
</div>