<div>
    <h3>{{iter.name}}</h3>
    <h4>Type: {{iter.formName}}</h4>
    <h4>Full Name: {{iter.fullName}}</h4>
    <h4>State: @Compendium[world.Countries.{{iter.country.journal.id}}]</h4>
    <details>
        <summary>Burgs</summary>
        <ul>
            {{#each iter.burgs}}
                <li><span>@Compendium[world.Burgs.{{this.journal.id}}]</span></li>
            {{/each}}
        </ul>
    </details>
    <h4><b>Color: </b>
        <span style="background-color: {{iter.color}};"> {{iter.color}}</span>
    </h4>
</div>